In [1]:
import pandas as pd
import time

## Import

In [2]:
clean_df = pd.read_csv("nyc_traffic_collision_clean.csv")

In [3]:
clean_df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.92249,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,NaN,...,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
1,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.89213,"(40.751003, -73.89213)",35 AVENUE,74 STREET,NaN,...,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
2,01/01/2017,16:15,MANHATTAN,10027.0,40.807770,-73.94549,"(40.80777, -73.94549)",WEST 125 STREET,LENOX AVENUE,NaN,...,0,0,0,0,0,Driver Inattention/Distraction,NaN,3590923,Sedan,NaN
3,01/01/2017,11:01,MANHATTAN,10017.0,40.751120,-73.97127,"(40.75112, -73.97127)",EAST 44 STREET,2 AVENUE,NaN,...,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,3590173,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
4,01/01/2017,0:00,BROOKLYN,11210.0,40.632427,-73.94083,"(40.632427, -73.94083)",NaN,NaN,1011 EAST 37 STREET,...,0,0,0,0,0,Unspecified,Unspecified,3821035,Sedan,NaN

# Calculations

### By Borough

Get the number of accidents/collisions by borough

In [4]:
 accidentByBoros=clean_df['BOROUGH'].value_counts()

In [5]:
 accidentByBoros.head(100)

BROOKLYN         183473
QUEENS           156056
MANHATTAN        107136
BRONX             90881
STATEN ISLAND     20430
Name: BOROUGH, dtype: int64

total number of acccidents

In [6]:
boros=list(clean_df['BOROUGH'].unique())
data=[1,1,1,1,1]
title="pedestrians kill"
accidents=pd.DataFrame({title:data}, index=boros)
accidents
for boro in boros:
    total=clean_df[clean_df['BOROUGH']==boro]['BOROUGH'].count()
    accidents.loc[boro]=total
accidents

               pedestrians kill
BROOKLYN                 183473
QUEENS                   156056
MANHATTAN                107136
BRONX                     90881
STATEN ISLAND             20430

Cauclaltes the number of pedestrians killed by boro

In [7]:
boros=list(clean_df['BOROUGH'].unique())
data=[1,1,1,1,1]
title="pedestrians kill"
pedes_killed=pd.DataFrame({title:data}, index=boros)
for boro in boros:
    summ=clean_df[clean_df['BOROUGH']==boro]['NUMBER OF PEDESTRIANS KILLED'].sum()
    pedes_killed.loc[boro]=summ
pedes_killed

               pedestrians kill
BROOKLYN                    118
QUEENS                      108
MANHATTAN                    76
BRONX                        38
STATEN ISLAND                14

find calculation by boro

In [8]:
def findValuesByBoros(value,title):
    boros=list(clean_df['BOROUGH'].unique())
    data=[1,1,1,1,1]
    calculations_by_boro_df=pd.DataFrame({title:data}, index=boros)
    
    for boro in boros:
             total=clean_df[clean_df['BOROUGH']==boro][value].sum()
             calculations_by_boro_df.loc[boro]=total
             
    return calculations_by_boro_df

Mototist killed by boro

In [9]:
motoris_killed=findValuesByBoros('NUMBER OF MOTORIST KILLED','NUMBER OF MOTORIST KILLED')

number of cyclist killed by boro

In [10]:
cyclist_killed=findValuesByBoros('NUMBER OF CYCLIST KILLED','NUMBER OF CYCLIST KILLED')
cyclist_killed

               NUMBER OF CYCLIST KILLED
BROOKLYN                             32
QUEENS                               12
MANHATTAN                            16
BRONX                                 9
STATEN ISLAND                         1

Number of total deaths by burough. validate numbers.

In [11]:
total=clean_df['NUMBER OF CYCLIST KILLED'].sum()+clean_df['NUMBER OF MOTORIST KILLED'].sum()+clean_df['NUMBER OF PEDESTRIANS KILLED'].sum()
total_motoris=motoris_killed.sum()
total_cyclist=cyclist_killed.sum() 
total_pedes = pedes_killed.sum()
total_from_cal=int(total_motoris)+int(total_cyclist)+pedes_killed['pedestrians kill']

In [12]:
pedes_killed

               pedestrians kill
BROOKLYN                    118
QUEENS                      108
MANHATTAN                    76
BRONX                        38
STATEN ISLAND                14

In [13]:


total_killed=pedes_killed['pedestrians kill']+cyclist_killed['NUMBER OF CYCLIST KILLED']+motoris_killed['NUMBER OF MOTORIST KILLED']
total_killed

BROOKLYN         228
QUEENS           201
MANHATTAN        115
BRONX             83
STATEN ISLAND     32
dtype: int64

In [14]:
total_killed.rename({0: "total dead by boro"})

BROOKLYN         228
QUEENS           201
MANHATTAN        115
BRONX             83
STATEN ISLAND     32
dtype: int64

In [15]:
total_killed.sum()

659

 number motoris injured

In [16]:
motorist_injued=findValuesByBoros('NUMBER OF MOTORIST INJURED','motorist injured')

 number of cyclis injured

In [17]:
cyclist_injued=findValuesByBoros('NUMBER OF CYCLIST INJURED','cyclist injured')
cyclist_injued

               cyclist injured
BROOKLYN                  6874
QUEENS                    3532
MANHATTAN                 4852
BRONX                     2028
STATEN ISLAND              227

In [18]:
pedestrians_injued=findValuesByBoros('NUMBER OF PEDESTRIANS INJURED','pedestrians injured')
pedestrians_injued

               pedestrians injured
BROOKLYN                     11657
QUEENS                        8431
MANHATTAN                     6922
BRONX                         6116
STATEN ISLAND                  859

In [19]:
total_injured=pedestrians_injued['pedestrians injured']+cyclist_injued['cyclist injured']+motorist_injued['motorist injured']

In [20]:
total_injured

BROOKLYN         57863
QUEENS           46196
MANHATTAN        23406
BRONX            28131
STATEN ISLAND     6169
dtype: int64

In [21]:
infomation_by_boro=pd.concat([motoris_killed,pedes_killed,
cyclist_killed,total_killed,cyclist_injued,
pedestrians_injued,motorist_injued,total_injured],axis=1)

In [22]:
infomation_by_boro=infomation_by_boro.rename(columns={0:"total deads"})
infomation_by_boro=infomation_by_boro.rename(columns={1:"total injured"})
infomation_by_boro

,NUMBER OF MOTORIST KILLED,pedestrians kill,NUMBER OF CYCLIST KILLED,total deads,cyclist injured,pedestrians injured,motorist injured,total injured
BROOKLYN,78,118,32,228,6874,11657,39332,57863
QUEENS,81,108,12,201,3532,8431,34233,46196
MANHATTAN,23,76,16,115,4852,6922,11632,23406
BRONX,36,38,9,83,2028,6116,19987,28131
STATEN ISLAND,17,14,1,32,227,859,5083,6169

In [23]:
infomation_by_boro.columns=infomation_by_boro.columns.str.lower()

In [24]:
infomation_by_boro.index=infomation_by_boro.index.str.lower()

toal number by boro

In [25]:
infomation_by_boro

,number of motorist killed,pedestrians kill,number of cyclist killed,total deads,cyclist injured,pedestrians injured,motorist injured,total injured
brooklyn,78,118,32,228,6874,11657,39332,57863
queens,81,108,12,201,3532,8431,34233,46196
manhattan,23,76,16,115,4852,6922,11632,23406
bronx,36,38,9,83,2028,6116,19987,28131
staten island,17,14,1,32,227,859,5083,6169

In [26]:
infomation_by_boro.to_csv("accident_infomation_by_boro.csv")

Number of people injusred by borough

Number of deaths by zipcode

Number of injuries by zipcode

## About the Vehicle(s)

## Takes a long time!

Count the number of collisions by vehicle type

## Reasons for Collisions

In [ ]:
t

## By Year

How many collisions by year?

How many accidents occured by year?

How many people injured by year?

How many people killed by year?