In [1]:
import pandas as pd

In [2]:
 car_collissions= pd.read_csv("Motor_Vehicle_Collisions_-_Crashes_2017-2021.csv")

In [3]:
car_collissions.describe()

,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,574943.000000,833389.000000,833389.000000,897485.000000,897472.000000,897502.000000,897502.000000,897502.000000,897502.000000,897502.000000,897502.000000,8.975020e+05
mean,10871.450453,40.641292,-73.777958,0.312395,0.001441,0.052407,0.000682,0.028008,0.000129,0.229572,0.000622,4.041942e+06
std,540.935530,1.848890,3.611964,0.695808,0.040183,0.235473,0.026944,0.167348,0.011466,0.659331,0.026655,2.601731e+05
min,10000.000000,0.000000,-201.237060,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.511951e+06
25%,10453.000000,40.667580,-73.970350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.816445e+06
50%,11208.000000,40.720016,-73.922400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.042962e+06
75%,11249.000000,40.774612,-73.863560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.267445e+06
max,11697.000000,41.126150,0.000000,31.000000,8.000000,27.000000,6.000000,3.000000,2.000000,31.000000,4.000000,4.554106e+06

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
car_collissions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,01/01/2017,14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3590646,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,01/01/2017,9:45,NaN,NaN,NaN,NaN,NaN,SHORE PARKWAY,KNAPP STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,NaN,NaN,NaN,NaN,3591176,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.92249,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,NaN,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,3591133,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
3,01/01/2017,8:00,NaN,NaN,40.666233,-73.76100,"(40.666233, -73.761)",BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Other Vehicular,NaN,NaN,NaN,3590062,Station Wagon/Sport Utility Vehicle,Convertible,NaN,NaN,NaN
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.89213,"(40.751003, -73.89213)",35 AVENUE,74 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3596737,Taxi,Taxi,NaN,NaN,NaN

In [6]:
car_collissions=car_collissions.drop(['CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5'], axis=1)

In [7]:
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,01/01/2017,14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,3590646,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,01/01/2017,9:45,NaN,NaN,NaN,NaN,NaN,SHORE PARKWAY,KNAPP STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,NaN,3591176,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,NaN,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
3,01/01/2017,8:00,NaN,NaN,40.666233,-73.761000,"(40.666233, -73.761)",BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Other Vehicular,3590062,Station Wagon/Sport Utility Vehicle,Convertible,NaN,NaN,NaN
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan,NaN,NaN,NaN
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4494156,Sedan,NaN,NaN,NaN,NaN
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4494228,Sedan,NaN,NaN,NaN,NaN
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,NaN,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4494776,E-Scooter,Sedan,NaN,NaN,NaN
897501,12/31/2021,2:15,NaN,NaN,40.788795,-73.937550,"(40.788795, -73.93755)",FDR DRIVE,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Unsafe Speed,Unspecified,4492970,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [8]:
car_collissions=car_collissions.drop(['VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5'], axis=1)

In [9]:
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,01/01/2017,14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,3590646,Sedan,Station Wagon/Sport Utility Vehicle
1,01/01/2017,9:45,NaN,NaN,NaN,NaN,NaN,SHORE PARKWAY,KNAPP STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,NaN,3591176,Station Wagon/Sport Utility Vehicle,NaN
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,NaN,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
3,01/01/2017,8:00,NaN,NaN,40.666233,-73.761000,"(40.666233, -73.761)",BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Other Vehicular,3590062,Station Wagon/Sport Utility Vehicle,Convertible
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4494156,Sedan,NaN
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4494228,Sedan,NaN
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,NaN,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4494776,E-Scooter,Sedan
897501,12/31/2021,2:15,NaN,NaN,40.788795,-73.937550,"(40.788795, -73.93755)",FDR DRIVE,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Unsafe Speed,Unspecified,4492970,Sedan,Station Wagon/Sport Utility Vehicle

In [10]:
list_col=list(car_collissions)

In [11]:
car_collissions=car_collissions.dropna(subset =list_col[0:7])
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,NaN,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
5,01/01/2017,16:15,MANHATTAN,10027.0,40.807770,-73.945490,"(40.80777, -73.94549)",WEST 125 STREET,LENOX AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,3590923,Sedan,NaN
6,01/01/2017,11:01,MANHATTAN,10017.0,40.751120,-73.971270,"(40.75112, -73.97127)",EAST 44 STREET,2 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,3590173,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
7,01/01/2017,0:00,BROOKLYN,11210.0,40.632427,-73.940830,"(40.632427, -73.94083)",NaN,NaN,1011 EAST 37 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3821035,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897496,12/31/2021,19:45,BROOKLYN,11214.0,40.599380,-73.997730,"(40.59938, -73.99773)",NaN,NaN,159 BAY 29 STREET,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4493912,Station Wagon/Sport Utility Vehicle,Sedan
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4494156,Sedan,NaN
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4494228,Sedan,NaN
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,NaN,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4494776,E-Scooter,Sedan

In [12]:
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,NaN,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
5,01/01/2017,16:15,MANHATTAN,10027.0,40.807770,-73.945490,"(40.80777, -73.94549)",WEST 125 STREET,LENOX AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,3590923,Sedan,NaN
6,01/01/2017,11:01,MANHATTAN,10017.0,40.751120,-73.971270,"(40.75112, -73.97127)",EAST 44 STREET,2 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,3590173,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
7,01/01/2017,0:00,BROOKLYN,11210.0,40.632427,-73.940830,"(40.632427, -73.94083)",NaN,NaN,1011 EAST 37 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3821035,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897496,12/31/2021,19:45,BROOKLYN,11214.0,40.599380,-73.997730,"(40.59938, -73.99773)",NaN,NaN,159 BAY 29 STREET,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4493912,Station Wagon/Sport Utility Vehicle,Sedan
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4494156,Sedan,NaN
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4494228,Sedan,NaN
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,NaN,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4494776,E-Scooter,Sedan

In [13]:
car_collissions['CROSS STREET NAME'].fillna('', inplace=True)

/tmp/ipykernel_82843/3117046194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['CROSS STREET NAME'].fillna('', inplace=True)

In [14]:
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,NaN,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
5,01/01/2017,16:15,MANHATTAN,10027.0,40.807770,-73.945490,"(40.80777, -73.94549)",WEST 125 STREET,LENOX AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,3590923,Sedan,NaN
6,01/01/2017,11:01,MANHATTAN,10017.0,40.751120,-73.971270,"(40.75112, -73.97127)",EAST 44 STREET,2 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,3590173,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
7,01/01/2017,0:00,BROOKLYN,11210.0,40.632427,-73.940830,"(40.632427, -73.94083)",NaN,,1011 EAST 37 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3821035,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897496,12/31/2021,19:45,BROOKLYN,11214.0,40.599380,-73.997730,"(40.59938, -73.99773)",NaN,,159 BAY 29 STREET,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4493912,Station Wagon/Sport Utility Vehicle,Sedan
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4494156,Sedan,NaN
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4494228,Sedan,NaN
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,NaN,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4494776,E-Scooter,Sedan

In [15]:
car_collissions['ON STREET NAME'].fillna('', inplace=True)

/tmp/ipykernel_82843/3736980180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['ON STREET NAME'].fillna('', inplace=True)

In [16]:
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,NaN,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
5,01/01/2017,16:15,MANHATTAN,10027.0,40.807770,-73.945490,"(40.80777, -73.94549)",WEST 125 STREET,LENOX AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,3590923,Sedan,NaN
6,01/01/2017,11:01,MANHATTAN,10017.0,40.751120,-73.971270,"(40.75112, -73.97127)",EAST 44 STREET,2 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,3590173,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
7,01/01/2017,0:00,BROOKLYN,11210.0,40.632427,-73.940830,"(40.632427, -73.94083)",,,1011 EAST 37 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3821035,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897496,12/31/2021,19:45,BROOKLYN,11214.0,40.599380,-73.997730,"(40.59938, -73.99773)",,,159 BAY 29 STREET,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4493912,Station Wagon/Sport Utility Vehicle,Sedan
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4494156,Sedan,NaN
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4494228,Sedan,NaN
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,NaN,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4494776,E-Scooter,Sedan

In [17]:
car_collissions['OFF STREET NAME'].fillna('', inplace=True)

/tmp/ipykernel_82843/1217189032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['OFF STREET NAME'].fillna('', inplace=True)

In [18]:
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
5,01/01/2017,16:15,MANHATTAN,10027.0,40.807770,-73.945490,"(40.80777, -73.94549)",WEST 125 STREET,LENOX AVENUE,,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,3590923,Sedan,NaN
6,01/01/2017,11:01,MANHATTAN,10017.0,40.751120,-73.971270,"(40.75112, -73.97127)",EAST 44 STREET,2 AVENUE,,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,3590173,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
7,01/01/2017,0:00,BROOKLYN,11210.0,40.632427,-73.940830,"(40.632427, -73.94083)",,,1011 EAST 37 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3821035,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897496,12/31/2021,19:45,BROOKLYN,11214.0,40.599380,-73.997730,"(40.59938, -73.99773)",,,159 BAY 29 STREET,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4493912,Station Wagon/Sport Utility Vehicle,Sedan
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,4494156,Sedan,NaN
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4494228,Sedan,NaN
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4494776,E-Scooter,Sedan

In [19]:
#pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', None)
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', None)

In [20]:
car_collissions['CONTRIBUTING FACTOR VEHICLE 2'].fillna('', inplace=True)

/tmp/ipykernel_82843/838924972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['CONTRIBUTING FACTOR VEHICLE 2'].fillna('', inplace=True)

In [21]:
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
5,01/01/2017,16:15,MANHATTAN,10027.0,40.807770,-73.945490,"(40.80777, -73.94549)",WEST 125 STREET,LENOX AVENUE,,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,,3590923,Sedan,NaN
6,01/01/2017,11:01,MANHATTAN,10017.0,40.751120,-73.971270,"(40.75112, -73.97127)",EAST 44 STREET,2 AVENUE,,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,3590173,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
7,01/01/2017,0:00,BROOKLYN,11210.0,40.632427,-73.940830,"(40.632427, -73.94083)",,,1011 EAST 37 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3821035,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897496,12/31/2021,19:45,BROOKLYN,11214.0,40.599380,-73.997730,"(40.59938, -73.99773)",,,159 BAY 29 STREET,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4493912,Station Wagon/Sport Utility Vehicle,Sedan
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,,0.0,0.0,0,0,0,0,0,0,Unspecified,,4494156,Sedan,NaN
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,,4494228,Sedan,NaN
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,,4494776,E-Scooter,Sedan

In [22]:
car_collissions['VEHICLE TYPE CODE 2'].fillna('', inplace=True)

/tmp/ipykernel_82843/597436489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['VEHICLE TYPE CODE 2'].fillna('', inplace=True)

In [23]:
car_collissions

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,01/01/2017,3:32,BROOKLYN,11237.0,40.709330,-73.922490,"(40.70933, -73.92249)",JOHNSON AVENUE,SCOTT AVENUE,,3.0,0.0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,3591133,Station Wagon/Sport Utility Vehicle,Sedan
4,01/01/2017,10:20,QUEENS,11372.0,40.751003,-73.892130,"(40.751003, -73.89213)",35 AVENUE,74 STREET,,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3596737,Taxi,Taxi
5,01/01/2017,16:15,MANHATTAN,10027.0,40.807770,-73.945490,"(40.80777, -73.94549)",WEST 125 STREET,LENOX AVENUE,,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,,3590923,Sedan,
6,01/01/2017,11:01,MANHATTAN,10017.0,40.751120,-73.971270,"(40.75112, -73.97127)",EAST 44 STREET,2 AVENUE,,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Following Too Closely,3590173,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
7,01/01/2017,0:00,BROOKLYN,11210.0,40.632427,-73.940830,"(40.632427, -73.94083)",,,1011 EAST 37 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,3821035,Sedan,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897496,12/31/2021,19:45,BROOKLYN,11214.0,40.599380,-73.997730,"(40.59938, -73.99773)",,,159 BAY 29 STREET,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,Unspecified,4493912,Station Wagon/Sport Utility Vehicle,Sedan
897497,12/31/2021,10:37,BROOKLYN,11213.0,40.678880,-73.935610,"(40.67888, -73.93561)",TROY AVENUE,HERKIMER STREET,,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,4494052,Sedan,Sedan
897498,12/31/2021,11:15,QUEENS,11103.0,40.755394,-73.911964,"(40.755394, -73.911964)",49 STREET,NEWTOWN ROAD,,0.0,0.0,0,0,0,0,0,0,Unspecified,,4494156,Sedan,
897499,12/31/2021,14:23,BRONX,10461.0,40.841390,-73.834680,"(40.84139, -73.83468)",MAYFLOWER AVENUE,WELLMAN AVENUE,,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,,4494228,Sedan,
897500,12/31/2021,17:26,BROOKLYN,11212.0,40.669262,-73.913560,"(40.669262, -73.91356)",PITKIN AVENUE,BOYLAND STREET,,1.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,,4494776,E-Scooter,Sedan

In [27]:
def checkFornull():
    for col in list(car_collissions):
        
        print(car_collissions[col].isnull().values.any(), end=" ")
        print(col)

In [29]:
checkFornull()

False CRASH DATE
False CRASH TIME
False BOROUGH
False ZIP CODE
False LATITUDE
False LONGITUDE
False LOCATION
False ON STREET NAME
False CROSS STREET NAME
False OFF STREET NAME
True NUMBER OF PERSONS INJURED
True NUMBER OF PERSONS KILLED
False NUMBER OF PEDESTRIANS INJURED
False NUMBER OF PEDESTRIANS KILLED
False NUMBER OF CYCLIST INJURED
False NUMBER OF CYCLIST KILLED
False NUMBER OF MOTORIST INJURED
False NUMBER OF MOTORIST KILLED
True CONTRIBUTING FACTOR VEHICLE 1
False CONTRIBUTING FACTOR VEHICLE 2
False COLLISION_ID
True VEHICLE TYPE CODE 1
False VEHICLE TYPE CODE 2

In [32]:
car_collissions['VEHICLE TYPE CODE 1'].fillna('', inplace=True)

/tmp/ipykernel_82843/1193355066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['VEHICLE TYPE CODE 1'].fillna('', inplace=True)

In [33]:
checkFornull()

False CRASH DATE
False CRASH TIME
False BOROUGH
False ZIP CODE
False LATITUDE
False LONGITUDE
False LOCATION
False ON STREET NAME
False CROSS STREET NAME
False OFF STREET NAME
True NUMBER OF PERSONS INJURED
True NUMBER OF PERSONS KILLED
False NUMBER OF PEDESTRIANS INJURED
False NUMBER OF PEDESTRIANS KILLED
False NUMBER OF CYCLIST INJURED
False NUMBER OF CYCLIST KILLED
False NUMBER OF MOTORIST INJURED
False NUMBER OF MOTORIST KILLED
True CONTRIBUTING FACTOR VEHICLE 1
False CONTRIBUTING FACTOR VEHICLE 2
False COLLISION_ID
False VEHICLE TYPE CODE 1
False VEHICLE TYPE CODE 2

In [34]:
car_collissions['CONTRIBUTING FACTOR VEHICLE 1'].fillna('', inplace=True)

/tmp/ipykernel_82843/83935837.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['CONTRIBUTING FACTOR VEHICLE 1'].fillna('', inplace=True)

In [35]:
checkFornull()

False CRASH DATE
False CRASH TIME
False BOROUGH
False ZIP CODE
False LATITUDE
False LONGITUDE
False LOCATION
False ON STREET NAME
False CROSS STREET NAME
False OFF STREET NAME
True NUMBER OF PERSONS INJURED
True NUMBER OF PERSONS KILLED
False NUMBER OF PEDESTRIANS INJURED
False NUMBER OF PEDESTRIANS KILLED
False NUMBER OF CYCLIST INJURED
False NUMBER OF CYCLIST KILLED
False NUMBER OF MOTORIST INJURED
False NUMBER OF MOTORIST KILLED
False CONTRIBUTING FACTOR VEHICLE 1
False CONTRIBUTING FACTOR VEHICLE 2
False COLLISION_ID
False VEHICLE TYPE CODE 1
False VEHICLE TYPE CODE 2

In [36]:
car_collissions['NUMBER OF PERSONS INJURED'].fillna(0, inplace=True)

/tmp/ipykernel_82843/3736875126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['NUMBER OF PERSONS INJURED'].fillna(0, inplace=True)

In [37]:
car_collissions['NUMBER OF PERSONS KILLED'].fillna(0, inplace=True)

/tmp/ipykernel_82843/576131576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_collissions['NUMBER OF PERSONS KILLED'].fillna(0, inplace=True)

In [38]:
checkFornull()

False CRASH DATE
False CRASH TIME
False BOROUGH
False ZIP CODE
False LATITUDE
False LONGITUDE
False LOCATION
False ON STREET NAME
False CROSS STREET NAME
False OFF STREET NAME
False NUMBER OF PERSONS INJURED
False NUMBER OF PERSONS KILLED
False NUMBER OF PEDESTRIANS INJURED
False NUMBER OF PEDESTRIANS KILLED
False NUMBER OF CYCLIST INJURED
False NUMBER OF CYCLIST KILLED
False NUMBER OF MOTORIST INJURED
False NUMBER OF MOTORIST KILLED
False CONTRIBUTING FACTOR VEHICLE 1
False CONTRIBUTING FACTOR VEHICLE 2
False COLLISION_ID
False VEHICLE TYPE CODE 1
False VEHICLE TYPE CODE 2

In [ ]:
car_collissions.to_csv('nyc_traffic_collision_clean.csv', index=False)